apiVersion: apps/v1
kind: Deployment

metadata:
  name: api-deployment
  namespace: desafio-api

spec:
  replicas: 1
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 20%
      maxUnavailable: 10%
  selector:
    matchLabels:
      api: app
  template:
    metadata:
      labels:
        api: app
    spec:
      containers:
        - name: app
          image: setter29/app:v2
          imagePullPolicy: IfNotPresent
          envFrom:
            - secretRef:
                name: app-secrets
          ports:
            - containerPort: 3000
          startupProbe:
            httpGet:
              path: /healthz
              port: 3000
            failureThreshold: 3
            successThreshold: 1
            timeoutSeconds: 1
            periodSeconds: 10
            initialDelaySeconds: 10
          readinessProbe:
            httpGet:
              path: /readyz
              port: 3000
            failureThreshold: 3
            successThreshold: 1
            timeoutSeconds: 1
            periodSeconds: 15
            initialDelaySeconds: 5
          livenessProbe:
            httpGet:
              path: /healthz
              port: 3000
            failureThreshold: 3
            successThreshold: 1
            timeoutSeconds: 1
            periodSeconds: 10
            initialDelaySeconds: 5
          resources:
            requests:
              cpu: 400m
              memory: 128Mi
            limits:
              cpu: 700m
              memory: 256Mi
