apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler

metadata:
  name: app-hpa
  namespace: desafio-api

spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: api-deployment
  minReplicas: 1
  maxReplicas: 3
  metrics:
    - type: Resource
      resource:
        name: cpu
        target:
          type: Utilization
          averageUtilization: 80
  behavior:
    scaleDown:
      stabilizationWindowSeconds: 30
      policies:
        - type: Pods
          value: 1
          periodSeconds: 10
    scaleUp:
      stabilizationWindowSeconds: 5
      policies:
        - type: Pods
          value: 1
          periodSeconds: 5
